html {
  font-size: 100px;
}
html,
body {
  width: 100%;
  background: #fff;
  overflow-x: hidden;
  color: #4e4e4e;
  font-family: "微软雅黑";
}
.hiddenY {
  overflow-y: hidden;
}
a,
a:active,
a:visited,
a:hover,
a:target {
  display: block;
}
.red_txt {
  color: #fe564c;
}
.main {
  margin: 0 auto;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.none {
  display: none;
}
/*----首页面------*/
.head_info {
  padding: 0.3rem;
  background: #fff;
}
.head_info .info_top img {
  float: left;
  width: 4.24rem;
  height: 0.7rem;
}
.head_info .info_top a {
  float: right;
  font-size: 0.27rem;
  color: #2986ec;
  margin-top: 0.1rem;
}
.head_info .info_bottom {
  margin-top: 0.6rem;
}
.head_info .info_bottom .time_rate {
  float: left;
}
.head_info .info_bottom .time_rate .small_rate {
  font-size: 0.24rem;
  color: #b1b1b1;
  font-family: "黑体";
}
.head_info .info_bottom .time_rate .big_rate {
  font-size: 0.42rem;
  color: #d7000f;
  line-height: 0.6rem;
}
.head_info .info_bottom .time_rate .txt3a {
  color: #3a3a3a;
}
.head_info .info_bottom .mr_left155 {
  margin-left: 1.55rem;
}
.rate_list_all {
  padding: 0.5rem 0.3rem;
  background: #eaeeef;
  box-sizing: border-box;
}
.rate_list_all .rate_box {
  margin: 0 0 0.75rem 0.68rem;
}
.rate_list_all .rate_box img {
  float: left;
  width: 1.51rem;
  height: 1.51rem;
}
.rate_list_all .rate_box .rate_introduce {
  float: left;
  margin-left: 0.28rem;
}
.rate_list_all .rate_box .rate_introduce .intro_txt_big {
  font-size: 0.45rem;
  color: #118eea;
}
.rate_list_all .rate_box .rate_introduce .intro_txt_center {
  font-size: 0.30rem;
  color: #b1b1b1;
}
.rate_list_all .rate_box .rate_introduce .intro_txt_small {
  font-size: 0.28rem;
  color: #4e4e4e;
}
.rate_list_all .marB0 {
  margin-bottom: 0;
}
.info_list {
  margin: 0.25rem 0;
}
.info_list ul > li {
  background: #fff;
}
.info_list ul > li a {
  font-size: 0.34rem;
  margin: 0 0.3rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #666;
  border-bottom: 0.01rem solid #e1e1e1;
  text-indent: 0.2rem;
}
.info_list ul > li a span {
  width: 0.26rem;
  height: 0.26rem;
  margin-top: 0.25rem;
  background: url("../img/arrow.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
}
.info_list ul > li ul.trait {
  margin: 0.25rem 0.3rem;
}
.info_list ul > li ul.trait li > h3 {
  font-size: 0.3rem;
  color: #4e4e4e;
  padding-left: 0.15rem;
  height: 0.6rem;
  line-height: 0.6rem;
}
.info_list ul > li ul.trait li > h3 i {
  width: 0.15rem;
  height: 0.26rem;
  display: inline-block;
  margin-right: 0.05rem;
  background: url(../img/lefticon.png) left center no-repeat;
  background-size: contain;
}
.info_list ul > li ul.trait li > p {
  font-family: "宋体";
  font-size: 0.26rem;
  line-height: 0.4rem;
  padding-left: 0.15rem;
}
.info_list ul > li ul.rule {
  margin: 0.25rem 0.3rem;
}
.info_list ul > li ul.rule table tr {
  font-size: 0.26rem;
  border-bottom: 0.01rem solid #b1b1b1;
}
.info_list ul > li ul.rule table tr td:nth-of-type(1) {
  width: 30%;
  padding: 0.1rem;
  line-height: 0.35rem;
}
.info_list ul > li ul.rule table tr td:nth-of-type(2) {
  width: 70%;
  padding: 0.1rem;
  line-height: 0.35rem;
}
.info_list ul > li div.risk {
  margin: 0.25rem 0.3rem;
}
.info_list ul > li div.risk div > p {
  text-indent: 0.5rem;
  font-size: 0.26rem;
  line-height: 0.4rem;
}
.info_list ul > li div.risk div > p img {
  width: 0.3rem;
  height: 0.3rem;
  cursor: pointer;
}
.info_list ul > li div.ct_table {
  margin: 0.25rem 0.3rem 2rem;
}
.info_list ul > li div.ct_table table {
  display: table;
  border-collapse: separate;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-size: 0.26rem;
}
.info_list ul > li div.ct_table table th {
  padding: 0.1rem;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
}
.info_list ul > li div.ct_table table td {
  padding: 0.1rem;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
}
.affirm_footer {
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 9999;
  padding: 0.3rem;
}
.affirm_footer .aff_btn {
  width: 6.9rem;
  height: 0.78rem;
  background: #fe564c;
  line-height: 0.78rem;
  text-align: center;
  border-radius: 0.05rem;
  border: none;
  font-size: 0.45rem;
  color: #fff;
}
.affirm_footer label {
  margin-top: 0.28rem;
  display: block;
  font-size: 0.2rem;
  position: relative;
}
.affirm_footer label input {
  position: absolute;
  top: .02rem;
}
.affirm_footer label p {
  position: absolute;
  left: .3rem;
  top: -0.03rem;
}
.layer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99998;
}
.layer .shut {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}
.layer .layer_info {
  margin: 0.25rem 0.3rem;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 899999;
}
.layer .layer_info ul > li > h4 {
  font-size: 0.3rem;
  color: #fff;
  padding-left: 0.15rem;
  height: 0.6rem;
  line-height: 0.6rem;
}
.layer .layer_info ul > li > h4 i {
  width: 0.15rem;
  height: 0.26rem;
  display: inline-block;
  margin-right: 0.05rem;
  background: url(../img/lefticon.png) left center no-repeat;
  background-size: contain;
}
.layer .layer_info ul > li > p {
  font-family: "宋体";
  color: #fff;
  font-size: 0.26rem;
  line-height: 0.4rem;
  padding-left: 0.15rem;
}
.layer .layer_info .aff_btn {
  width: 6.9rem;
  height: 0.78rem;
  background: #fe564c;
  line-height: 0.78rem;
  text-align: center;
  border-radius: 0.05rem;
  border: none;
  margin-top: .3rem;
  font-size: 0.45rem;
  color: #fff;
}
